* {
    margin:0;
}
body {
    font-size: 1em;
    font-family: 'Manrope', sans-serif;
    background-color: #1F2039;
    }
a {
    color:#242424;
    text-decoration: none;
}

em {
    color:#A5B4FC;
    font-style: normal;
}
h1 {
    font-size: 3.5em;
    color: #A5B4FC;
    font-family: 'Montserrat', sans-serif;
}
h2{
    color:#F9F8FF;      
}
p,li {
    font-size: 1.1em;
    color:#F9F8FF;
    }
header, 
footer {
    background-color: white;
    padding: 20px 50px ;
    
}
.cta {
    display: inline-block;
    background: linear-gradient(#8E86B5,#ACAEED);
    color : white;
    border-radius:50px;
    padding: 20px 30px;
    
}
a:hover {
    text-decoration: underline;
}
.cta:hover{
    background: linear-gradient(#696484,#8788BA);
    text-decoration: none;
}
.lien-icone {
    margin-left:30px;
    text-decoration: none;
}
.lien-icone:hover {
    opacity: 0.5;
    text-decoration: none;
}
.carre-contenu{
border-bottom: 1px solid #8e86b5;
border-right: 1px solid #8e86b5;
padding:50px;
margin-bottom: 80px;
}
.carre-contenu h2{
    margin-top:30px
}
.carre-contenu ul{
    margin-top:30px
}
.carre-contenu + div {
    text-align:center;
}
section {
    padding:80px;
}
.a-propos-main {
width:50%;
margin:auto;            
}

footer,
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav a{
    margin-left:30px;
}
.accueil-photos{
    background-color: white;
    padding: 80px;
}
.accueil-photos h2{
    color:#242424;
    text-align: center;
    margin-bottom: 80px;
}
.accueil-photos div{
    display:flex;
    flex-direction:row;
    gap:15px;
    justify-content: center;
    margin-bottom: 15px;
}
.accueil-introduction {
    display:flex;
    flex-direction: row;
    width: 60%;
    align-items: flex-start;
    margin: auto;
}
.accueil-introduction h1 {
    padding-bottom: 15px;
 }

 .accueil-introduction p {
    padding-bottom: 30px;
     }
.accueil-introduction div{
    padding-right: 80px;
}
 .portfolio-section-photos{
    background-color: white;
        }
    .portfolio-section-photos h2{
    color:#242424;
    margin-bottom: 80px;
    }
.grid-paysages
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px 300px;
    gap:15px;
    }
.grid-portraits
 {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    gap:15px;
}

.grid-paysages img,
.grid-portraits img {
  width: 100%;
  height: 100%;
  object-fit: cover;
 
}
.lien-conteneur-photo{
    position:relative;
}

.photo-hover {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:1.5em;
    color:white;
    background-color: rgba(0,0,0,0.7);
    display:none;
}
.lien-conteneur-photo:hover 
.photo-hover {
    display:flex;
    
}